<section data-message="{{message}}" id="datos">
    <h2>Perfil de usuario: {{first_name}} {{last_name}}</h2>
    <hr>
    <p>Edad: <strong>{{age}}</strong></p>
    <p>Correo electrónico: <strong>{{email}}</strong></p>
</section>
{{>menu}}

<script type="module" src="/js/datos.js"></script>